<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
        <title>Forum</title>
    </h:head>

    <header id="header">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </header>

    <h1>Add user</h1>

    <h:form>
            <p>Name</p>
            <h:inputText id="nameInputText" value="#{addUserBean.name}"></h:inputText>
            <h:message class="validationMessage" for="nameInputText"/>

            <p>Surname</p>
            <h:inputText id="surnameInputText" value="#{addUserBean.surname}"></h:inputText>
            <h:message class="validationMessage" for="surnameInputText"/>

            <p>Username</p>
            <h:inputText id="usernameInputText" value="#{addUserBean.username}" binding="#{addUserBean.usernameInputField}"></h:inputText>
            <h:message class="validationMessage" for="usernameInputText"/>

            <p>Email</p>
            <h:inputText id="emailInputText" value="#{addUserBean.email}"></h:inputText>
            <h:message class="validationMessage" for="emailInputText"/>

            <p>Password</p>
            <h:inputSecret id="passwordInputText" value="#{addUserBean.password}"></h:inputSecret>
            <h:message class="validationMessage" for="passwordInputText"/>

            <h:commandButton value="Add user" action="#{addUserBean.createUser}"></h:commandButton>
    </h:form>
</html>
