<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
    Logged in as: #{currentUser.userDto.username}

    <h:form>
        <h:outputLink value="topics.xhtml" >Topics</h:outputLink>
        <h:outputLink rendered="#{currentUser.admin}" value="adduser.xhtml" >Add User</h:outputLink>
        <h:commandButton action="#{logout.logout}" value="Log Out"/>
    </h:form>
</ui:composition>

</html>
