<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <h:outputLabel value="Please Log In."/>

    <form method="post" action="j_security_check" name="loginForm">
        <h:panelGrid columns="2">
            <h:outputLabel id="userNameLabel" for="j_username" value="Username:"/>
            <h:inputText id="j_username" autocomplete="off" />
            <h:outputLabel id="passwordLabel" for="j_password" value="Password:"/>
            <h:inputSecret id="j_password" autocomplete="off"/>
            <h:panelGroup>
                <h:commandButton type="submit" value="Login"/>
                <h:commandButton type="reset" value="Clear"/>
            </h:panelGroup>
        </h:panelGrid>
    </form>

    <!--<h3>Hint</h3>-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>login</td>-->
            <!--<td>password</td>-->
            <!--<td>role</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>god</td>-->
            <!--<td>god</td>-->
            <!--<td>ADMIN</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>leos</td>-->
            <!--<td>leos</td>-->
            <!--<td>MODERATOR</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>pepa</td>-->
            <!--<td>pepa</td>-->
            <!--<td>USER</td>-->
        <!--</tr>-->
        <!--</thead>-->
    <!--</table>-->


</f:view>
</html>
