<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="${facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
	    <title>Forum</title>
	</h:head>

    <header id="header">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </header>

    <h2>Posts in topic</h2>
	<h1>#{postsBean.topic.name}</h1>

	<ui:repeat value="#{postsBean.posts}" var="p">
		<div>
			<b>#{p.title}</b><br/>
			#{p.text}<br/>
			#{p.date}<br/>
			#{p.username}
		</div>

		<h:form rendered="#{currentUser.admin || currentUser.moderator}">
			<h:commandButton action="#{deletePost.delete(p.id, postsBean.topicId)}" value="Delete"/>
		</h:form>
		
	</ui:repeat>
	
	<h1>Add Post</h1>

	<h:form>
		<p>Title:</p>
    	<h:inputText id="titleInputText" value="#{addPostBean.title}"/>
		<h:message class="validationMessage" for="titleInputText"/>
    	<p>Text:</p>
    	<h:inputTextarea cols="80" rows="20" id="textInputText" value="#{addPostBean.text}"/>
		<h:message class="validationMessage" for="textInputText"/>
    	<h:commandButton value="Add Post" action="#{addPostBean.addPost(postsBean.topicId)}">
            <f:param name="topicId" value="1"/>
        </h:commandButton>
    </h:form>
	
</html>