<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="${facesContext.externalContext.requestContextPath}/resources/css/styles.css" rel="stylesheet" type="text/css" />
	    <title>Forum</title>
	</h:head>

	<header id="header">
        <ui:insert name="header">
            <ui:include src="header.xhtml"/>
        </ui:insert>
    </header>

	<h1>Topics</h1>

	<ui:repeat value="#{topics.allTopics}" var="t">

		<div>
            Created: #{t.createdOn}
            <h:form>
                <h:link outcome="posts" includeViewParams="true">
                    <h3>#{t.name}</h3>
                    <f:param name="topicId" value="#{t.id}"/>
                </h:link>
                <h:commandButton rendered="#{currentUser.moderator || currentUser.admin}"
                                 action="#{deleteTopic.delete(t.id)}" value="Delete"/>
            </h:form>
        </div>

        <br/>

	</ui:repeat>


	<h:form rendered="#{currentUser.moderator || currentUser.admin}">
        <h1>Add topic</h1>
		<p>Name:</p>
    	<h:inputText id="titleInputText" value="#{addTopicBean.name}"/>
    	<h:commandButton value="Add" action="#{addTopicBean.createTopic}"/>
		<h:message class="validationMessage" for="titleInputText" id="titleMessage"/>
	</h:form>
	
</html>