<!doctype html>
<html ng-app="RestClientApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Forum rest client</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <script>

        var appPath = window.location.pathname.split('/')[1];
        var host = window.location.hostname;
        var wsUrl = 'ws://' + host + ':'+ '8080' +'/' + appPath +'/clients';
        var ws = new WebSocket(wsUrl);
        ws.onmessage = function(message) {
            document.getElementById("clients").innerHTML = message.data;
        };

        var app = angular.module("RestClientApp", []);

        app.controller("PostsCtrl", function($scope, $http) {

            $scope.load = function() {
                var req = {
                    method: 'GET',
                    url: '/forum-api/post',
                    headers: {
                        'Authorization' : 'Basic ' + window.btoa($scope.username + ':' + $scope.password)
                    }
                }

                $http(req).
                        success(function(data, status, headers, config) {
                            $scope.posts = data;
                        }).
                        error(function(data, status, headers, config) {
                        });
            }
        });


    </script>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        Clients connected to current node: <span class="badge" id="clients">0</span>
    </div>


    <div ng-controller="PostsCtrl" class="jumbotron">
        <form role="form">
            <div class="form-group">
                <label>
                    Username
                    <input type="text" class="form-control" ng-model="username" autofocus="autofocus">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Password
                    <input type="password" class="form-control" ng-model="password">
                </label>
            </div>

            <button type="button" class="btn btn-primary btn-lg" ng-click="load()">Load Posts</button>
        </form>

        <ul ng-repeat="post in posts" class="list-group">
            <li class="list-group-item">
                <div>
                    <p><strong>{{post.title}}</strong></p>
                    <p>{{post.text}}</p>
                </div>
            </li>
        </ul>

    </div>
</div>


</body>
</html>